@tailwind base;

@tailwind components;

@tailwind utilities;

body {
 @apply bg-gray-100;
}
.btn {
  background-color: #2d564e;
  border: #2d564e;
  @apply text-white font-bold rounded py-2 px-4 border-b-4;
}

.repos-list {
  columns: 3;
  -moz-columns: 3;
  column-rule: 1px solid #2d564e;
  @apply p-4;
}

.repos-list li{
  break-inside: avoid-column;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: #2d564e;
  @apply text-white text-xs p-2 inline-block
}


#image-profile {
  border-radius: 15px;
}

.colorLetra {
  color: #2d564e;
}

.backgroundVerde {
  background-color: #2d564e;
}

.border-color {
  border-top: 18px solid #2d564e;
}

.border-titles {
  border-bottom: 5px solid #2d564e;
}

.btn-ver:hover {
  font-weight: bold;
  color: #2d564e;
}